# https://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

# Set default charset
[*.{js,py,sh}]
charset = utf-8
indent_style = space

[*.{js,sh}]
indent_size = 2

# 4 space indentation
[*.py]
indent_size = 4
